.content {
  display: flex;
  width: 85%;
  height: 100vh;
  margin: auto;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 700px;
  margin: 50px auto;
}

app-table-view {
  width: 100%;
}
