<div class="filter-panel">
  <form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <mat-label>Choose an option</mat-label>
    <mat-select
      formControlName="field"
      required
      (selectionChange)="onSelectField()"
    >
      <mat-option *ngFor="let value of showColumns" [value]="value">{{
        value
      }}</mat-option>
    </mat-select>

    <ng-container *ngIf="operators.length">
      <mat-label>Choose an operator</mat-label>
      <mat-select formControlName="operator">
        <mat-option *ngFor="let operator of operators" [value]="operator">{{
          operator
        }}</mat-option>
      </mat-select>
    </ng-container>

    <ng-container *ngIf="isFormFieldSelected('operator')">
      <mat-form-field class="example-full-width">
        <mat-label>Input a value</mat-label>
        <input matInput type="text" formControlName="value" />
      </mat-form-field>
      <button mat-button class="button" type="submit">Purchase</button>
    </ng-container>
  </form>
</div>
