.filter-panel {
  background: #fcfcfc;
  width: 300px;
  padding: 20px;
  height: 100%;
}

.mat-form-field {
  display: block;
}

.mat-button {
  width: 100%;
  padding: 15px;
  background: #d8ecec;
  border-radius: 0;
}

.filter-form {
  margin-bottom: 30px;
}

.error {
  color: red;
  position: absolute;
  bottom: -22px;
}

.value-input {
  margin-bottom: 20px;
}
