<div class="filter-panel">
  <form class="filter-form" [formGroup]="filterForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Choose a field</mat-label>
      <mat-select
        formControlName="field"
        placeholder="Select a field"
        required
        (selectionChange)="onSelectField()"
      >
        <mat-option *ngFor="let value of showColumns" [value]="value">{{
          value
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="operators.length">
      <mat-form-field appearance="fill">
        <mat-label>Choose an operator</mat-label>
        <mat-select placeholder="Select an operator" formControlName="operator">
          <mat-option *ngFor="let operator of operators" [value]="operator">{{
            operator
          }}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="isFormFieldSelected('operator')">
      <mat-form-field class="example-full-width">
        <mat-label>Input a value</mat-label>
        <input matInput type="text" formControlName="value" />
      </mat-form-field>
      <button mat-button class="button" type="submit">Apply filter</button>
    </ng-container>
  </form>
  <app-filters-list
    (removeFilter)="removeFilter($event)"
    [filters]="filtersList | async"
  ></app-filters-list>
</div>
